<!DOCTYPE html>
<html>
<head>
  <title>Think</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <% if signed_in? %>
      <div class="col-xs-12 col-sm-8">
        <%= yield %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render 'layouts/sidebar' %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>

</body>
</html>
